[submodule "packages-premium"]
	path = packages-premium
	url = https://github.com/fullcalendar/fullcalendar-scheduler.git
[submodule "packages-contrib/react"]
	path = packages-contrib/react
	url = https://github.com/fullcalendar/fullcalendar-react.git
